name: CI Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v2
      
      - name: Configurar Node.jobs
        uses: actions/setup-node@v2
        with:
          node-version: '20' 
        
      - name: Instalar dependencias
        run: npm install

      - name: Lint del codigo
        run: npm run lint
      
      - name: Ejecutar pruebas
        run: npm test

      - name: Coverage mayor o igual al 85%
        run: npm run coverage

      - name: Build
        run: npm ci && npm run build
